body{
  background-color: aqua;
}
.image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 3%;
}

.images:hover{
  transform: scale(1.1);
}
h2{
  text-transform: capitalize;
}
h1,h2{
  text-align: center;
}
.search-elements{
  align-items: center;
  margin-left: 40%;
}
button{
  background-color: lightsalmon;
  margin-right: 10px;
  margin-top: 5px;
}
.search-button{
  background-color: lightsalmon;
  margin-left: 32px;
}
